/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.footer {
  @apply relative mt-[69.66px] h-[705px] text-[color:var(--white-color)];
}
.footer-bg {
  @apply absolute inset-x-0 bottom-0 z-[-1] w-full;
}
.footer-bottom-bg {
  @apply absolute inset-x-0 bottom-0 z-[-2] h-[125px];
  background: #0d165c;
}
.footer .content {
  @apply flex items-center gap-[129px] pt-[225px];
}
.footer .information-content {
  @apply pl-[31px];
}
.footer .information-content .info-1 {
  @apply mt-[32px] text-[16px] font-normal leading-[24px] tracking-widest;
}
.footer .information-content .info-1 strong {
  @apply font-bold;
}
.footer .information {
  @apply shrink-0;
}
.footer .information-content .phone {
  @apply min-w-[140px];
}
.footer .information-content .address {
  @apply mt-[26px] text-[14px] font-medium italic leading-[21px] tracking-widest;
}
.footer .information-content .row {
  @apply mt-px flex items-center gap-7 text-[14px] font-medium italic leading-[21px] tracking-widest text-[color:var(--white-color)];
}
.footer .information-content .row .email {
  @apply underline;
}
.footer .content .pages > *:not(.information) {
  @apply flex flex-col gap-[26px];
}
.footer .content .col-title {
  @apply text-[18px] font-semibold leading-[27px] tracking-widest;
}
.footer .content .page-list {
  @apply flex flex-col gap-[11px];
}
.footer .content .page-list .item {
  @apply flex flex-nowrap text-[16px] font-normal leading-[24px] tracking-widest;
}
.footer .content .pages {
  @apply flex gap-[220px] pl-[30px] pt-[3px];
  justify-content: start;
}
.footer > .row {
  @apply mt-[140px] flex justify-between;
}
.footer > .row .socials {
  @apply flex items-center gap-[45px];
}
.footer > .row .copyright {
  @apply text-[16px] font-normal leading-[24px] tracking-widest;
}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1200px) {
  .footer {
    @apply h-[unset] px-0 py-14;
    background: #0d165c;
  }
  .footer .content {
    @apply flex-col gap-[30px] pt-2.5;
  }
  .footer > .row {
    @apply mt-[30px] flex-col items-center gap-5;
  }
  .footer .content .pages {
    @apply w-full justify-between gap-5 p-0 px-5;
  }
  .footer .information-content {
    @apply pl-0;
  }
}
