/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.sidebar {
  @apply fixed w-[400px] z-[999] transition-[translate] duration-[0.2s] max-w-[90%] p-10 left-0 inset-y-0;
  background: #fff;
  translate: -100% 0;
}
.sidebar .actions {
  @apply flex flex-col h-full;
}
.sidebar .actions .menu {
  @apply flex flex-col gap-[30px] pl-5;
}
.sidebar .actions .menu .menu-item {
  @apply flex gap-[5px] text-[16px] shrink-0 cursor-pointer transition-[color] duration-[0.2s] hover:text-[color:var(--primary-color)];
}
.sidebar .actions .contact-btn {
  @apply min-w-[200px] mt-auto py-4;
}
.sidebar-overlay {
  @apply fixed w-full h-full z-[99] opacity-0 invisible transition-[opacity,visibility] duration-[0.2s] inset-0;
  background: #000;
}
