.logo {
  @apply flex items-center gap-[34px];
  filter: drop-shadow(0px 4px 4px  #00000040);
  height: 63px;
  width: 63px;

  .brandNameBold {
    @apply hidden text-[24px] font-bold leading-9 tracking-widest lg:inline;
  }
  .brandNameMedium {
    @apply text-2xl font-normal leading-9 tracking-widest text-left;
  }

  &.dark {
    .brandNameBold, .brandNameMedium {
      @apply text-[color:var(--title-color)];
    }
  }

  &.light {
    .brandNameBold, .brandNameMedium {
      @apply text-[color:var(--white-color)];
    }
  }

  .logoIcon {
    @apply relative shrink-0 w-[63px] h-[63px] rounded-[50%];
    background: var(--primary-color);

    > * {
      @apply absolute text-[10px] rounded-[50%];
      background: var(--white-color);
    }

    .insideIcon1 {
      @apply w-[1.3em] h-[1.3em] left-[1.2em] top-[1.1em];
    }

    .insideIcon2 {
      @apply w-[0.6em] h-[0.6em] left-[2.5em] top-[2.3em];
    }

    .insideIcon3 {
      @apply absolute right-0 top-1/2 h-[1.1em] w-[4em] -translate-y-1/2 translate-x-[40%] rounded-[99px];
    }
  }
}